<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>DedupEndNote - Justification</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
	<link rel="stylesheet" href="/resources/common-style.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				<nav id="menu" class="navbar navbar-light bg-light" style="position: fixed;">
					<div class="container-fluid">
						<div class="navbar-nav" id="navmenu">
							<nav class="nav nav-pills flex-column small">
								<a class="nav-link" href="/">Home</a>
								<a class="nav-link" href="#general_rule">1. General rule</a>
								<a class="nav-link" href="#comparisons">2. Comparisons</a>
								<a class="nav-link" href="#fields_chosen">2.1. The fields chosen</a>
								<a class="nav-link" href="#fields_not_chosen">2.2. The fields not chosen</a>
								<a class="nav-link" href="#similarity">2.3. Similarity</a>
								<a class="nav-link" href="#order_of_comparisons">2.4. Order of comparisons</a>
								<a class="nav-link" href="#effect">2.5. Effect of insufficient data from one of two
									records</a>
								<a class="nav-link" href="#enriching">3. Enriching the duplicate chosen</a>
							</nav>
						</div>
					</div>
				</nav>
			</div>
			<div class="col-9" data-bs-spy="scroll" data-bs-target="#navmenu">
				<h1>DedupEndNote: Justification</h1>

				<h3 id="general_rule">1. General rule</h3>
				<div>
					<p>The general rule is:</p>
					<table class="table table-bordered" style="width: 80%;">
						<caption>General rule</caption>
						<thead>
							<tr>
								<th>Comparison</th>
								<th>Result</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="3">1 ... 5</td>
								<td>YES</td>
								<td rowspan="2" class="align-middle">go to next comparison if present,<br />else mark
									the records as duplicates</td>
							</tr>
							<tr>
								<td>(insufficient data for the comparison in one of the records)</td>
							</tr>
							<tr>
								<td>NO</td>
								<td>stop comparisons for this pair of record</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>The part "(insufficient data for the comparison in one of the records) &#x2192; goto next
					comparison ..." sets DedupEndNote apart from other deduplication programs.</div>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>If bibliographic databases didn't miss some data: DOI https://doi.org/10.1007/5584_2016_118 has
						Pages information in PubMed, but not in EMBASE or Scopus</li>
					<li>If EndNote import filters (EndNote provided, provided by producers of bibliographic databases,
						home made) always put comparable data in the same EndNote fields</li>
					<li>If all bibliographic data of imported records were already available, e.g. not with PubMed ahead
						of print publications</li>
				</ul>
				<p>then the absence of Starting Page / DOI / Authors / ... in an EndNote record would mean
					that the corresponding publication has no Starting Page / DOI / Authors / .... Alas, the world isn't
					perfect yet.</p>
				<p>DedupEndNote therefore interprets a comparison with insufficient data from one of two records not as
					"NO" (i.e. these records are different), but as "UNKNOWN" (i.e. we can't tell (yet)),
					and continues with the other comparisons for these records.</p>
				<p>As a consequence, fields which are useful in comparisons but are not always available (e.g. DOI), can
					be used.</p>
				<p>NOTE: If <strong>both</strong> records have insufficient data for a comparison, DedupEndNote
					interprets the fields as different.
					If there is no alternative for the comparison (see below), then DedupEndNote stops the comparisons
					for this pair of records and considers
					them different publications. See <a href="#effect">2.5. Effect of 'insufficient data from one of two
						records'</a>.</p>

				<h3 id="comparisons">2. Comparisons</h3>

				<h5 id="fields_chosen">2.1. The fields chosen</h5>
				<p>The EndNote fields used in the comparisons are:</p>
				<table class="table table-bordered" style="width: 60%;">
					<caption>The EndNote fields used in the comparisons</caption>
					<thead>
						<tr>
							<th>EndNote field</th>
							<th>Content</th>
							<th>Treated as</th>
							<th>Used in comparison no.</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>PY</td>
							<td>Publication year</td>
							<td>Year</td>
							<td>1</td>
						</tr>
						<tr>
							<td>SP</td>
							<td>Pages</td>
							<td rowspan="2" class="align-middle">Starting page</td>
							<td rowspan="3" class="align-middle" style="border-left: 2px solid black;">2</td>
						</tr>
						<tr>
							<td>C7</td>
							<td>Article number</td>
						</tr>
						<tr>
							<td>DO</td>
							<td>DOI</td>
							<td>DOI</td>
						</tr>
						<tr>
							<td>AU</td>
							<td>Authors</td>
							<td>Authors</td>
							<td>3</td>
						</tr>
						<tr>
							<td>TI</td>
							<td>Title</td>
							<td rowspan="4" class="align-middle">Title</td>
							<td rowspan="4" class="align-middle" style="border-left: 2px solid black;">4</td>
						</tr>
						<tr>
							<td>OP *</td>
							<td>Original title (when reference type is not Conference Proceedings)</td>
						</tr>
						<tr>
							<td>ST</td>
							<td>Short title</td>
						</tr>
						<tr>
							<td>T3 **</td>
							<td>Conference title<br />Alternate journal title<br />Original title</td>
						</tr>
						<tr>
							<td>SN</td>
							<td>ISSN or ISBN</td>
							<td>ISSN</td>
							<td rowspan="5" class="align-middle" style="border-left: 2px solid black;">5</td>
						</tr>
						<tr>
							<td>T2</td>
							<td>Journal title<br />Book title</td>
							<td rowspan="3" class="align-middle">Journal</td>
						</tr>
						<tr>
							<td>J2</td>
							<td>Alternate journal</td>
						</tr>
						<tr>
							<td>OP *</td>
							<td>Conference title (when reference type is Conference Proceedings)</td>
						</tr>
						<tr>
							<td>T3 **</td>
							<td>Conference title<br />Alternate journal title<br />Original title</td>
						</tr>
					</tbody>
				</table>
				<p><i>*: the field OP can be a title variant or a journal variant.</i></p>
				<p><i>**: Conference titles in T3 are omitted.</i></p>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>These fields (or combinations of fields) are present for most records. DOIs may be absent, but
						in comparison 2 (Starting Page OR DOI) most records provide data</li>
					<li>These fields proved to be sufficient to get good deduplication results.</li>
					<li>Author: Reducing first names to initials identifies more duplicates although cases where first
						and last names are mixed up
						("Ashish Anil, Sule" vs "Sule, A. A.") are no longer identified as duplicates.</li>
					<li>Journal: There is no standard (used) for journals. PubMed puts the journal abbreviation in the
						Journal field, most other databases use the full journal title.
						There is no agreement on the journal names / abbreviations: "Am J Roentgenol" vs "AJR Am J
						Roentgenol".<br />
						DedupendNote treats the content of the journal fields as a set. Comparing the journal of two
						records comes down to
						"Is there a journal from the set of journals of record 1 sufficiently similar to a journal from
						the set of journals of record 2?"</li>
					<li>Title: There is no standard (used) for non-English titles. Bibliographic databases put the
						English translation of the title in the Title field,
						and sometimes the original title in another field.<br />
						The translation may be their own: the original title "Autogreffe de cellules souches
						hématopoïétiques périphériques dans le cadre du traitement d'hémopathies malignes. Partie I:
						patients." became:
						<ul>
							<li>[Autologous transplantation of peripheral blood hematopoietic stem cells in the
								treatment of hematological malignancies. I: patients] (PubMed)</li>
							<li>Autologous transplantation of peripheral blood stem cells for haematological
								malignancies. Part I: patients (Scopus, Web of Science)</li>
						</ul>
						<p>In the test database of 52.000 records 11% of the records were of non-English origin</p>
					</li>
					<li>Starting Page: Bibliographic databases do not always use the same fields for comparable content
						(e.g. PubMed doesn't use the Article number field, and puts the
						article number in the Pages field, Web of Science uses the Article Number field, and puts the
						number of pages of such publication in the Pages field).<br />
						While reading the EndNote file DedupEndNote first picks the Article number (field C7) as
						Starting page (if present), overwriting it with the
						Starting page (field SP) of the file if it contains a "-". In the absence of an Article number
						(C7), Starting page (SP) is taken as Starting page.
						<br><br>
						The DOI would be very useful field for deduplication if only each meeting abstract would have a
						unique DOI. However all the meeting abstract within a conference proceedings share the same DOI.
						Because it is not easy to identify meeting abstracts, DedupEndNote looks at the number of pages:
						if it is greater than 2, DedupEndNote considers the publication as NOT a meeting abstract, and
						prefers the comparison by DOI above the comparison by starting page.
					</li>
				</ul>

				<h5 id="fields_not_chosen">2.2. The fields not chosen</h5>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>Reference type: Bibliographic databases don't agree on this.
						Publications in "Advances in Experimental Medicine and Biology" are Journal Article when
						imported from PubMed or EMBASE, but Serial when imported from Web of Science.<br />
						The only exception to this rule is Conference proceedings: The OP field can be the title of a
						conference or the original (non-English) title</li>
					<li>Volume and Issue: these fields were found to have no additional value for deduplication</li>
					<li>Accession number: are tied to specific bibliographic databases, so of minimal value for
						deduplication</li>
					<li>Type of Work: Not always provided by bibliographic databases, not standardized over
						bibliographic databases</li>
					<li>Ending page: Not always provided by bibliographic databases. Comparison by only Starting page
						proved to be sufficient to get good deduplication results.</li>
				</ul>

				<h5 id="similarity">2.3. Similarity</h5>

				<p>DedupEndNote uses Jaro-Winkler Similarity instead of equality when comparing some fields (Authors,
					Titles, partly with Journals).</p>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>(see <a href="/#examples">Examples of comparisons</a> on the home page)</li>
					<li>Most bibliographic databases use UTF-8, some however still use the ASCII set (Web of Science)
						making comparisons by equality hopeless
						when diacritical signs or Greek letters are used in one but not both records</li>
					<li>Bibliographic databases may add metadata (e.g. for Title: "[French]", "Authors reply", ...)</li>
					<li>Bibliographic databases may use different rules for number of authors recorded (when to use "et
						al."). Are:
						<ul>
							<li>Albrecht, M. H.; Vogl, T. J.; Wichmann, J. L.; Martin, S. S.; Scholtz, J. E.; Fischer,
								S.; Hammerstingl, R. M.; Harth, M.; Nour-Eldin, N. A.; Thalhammer, A.; et al.,</li>
							<li>Albrecht, M. H.; Vogl, T. J.; Wichmann, J. L.; Martin, S. S.; Scholtz, J. E.; Fischer,
								S.; Hammerstingl, R. M.; Harth, M.; Nour-Eldin, N. A.; Thalhammer, A.; Zangos, S.;
								Bauer, R. W.</li>
						</ul>
						the same authors?
					</li>
					<li>Is "NFκB" (publication form) "NFκB", "NFkappaB" or "NF kappa B"?</li>
					<li>Bibliographic databases dont agree on the author name:
						<ul>
							<li>Is "Xingshun Qi" (publication form) "Qi, X." (PubMed) or "Qi, X. S." (Web of Science)?
							</li>
							<li>Is "E. MorenoGonzález" (publication form) "MorenoGonzález, E." (Scopus), "Moreno
								González, E." (PubMed) or "Gonzalez, E. M." (Web of Science)?</li>
						</ul>
					</li>
				</ul>

				<p>Values used for Jaro-Winkler Similarity:</p>
				<table class="table table-bordered" style="width: 80%">
					<caption>Values used for Jaro-Winkler Similarity</caption>
					<thead>
						<tr>
							<th>Field</th>
							<th>Case</th>
							<th>Threshold</th>
							<th>Explanation</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="3">Authors</td>
							<td>default (i.e. not a Reply)</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService.DefaultAuthorsComparator).AUTHOR_SIMILARITY_NO_REPLY}">
								-0.67</td>
							<td></td>
						</tr>
						<tr>
							<td>Reply and sufficient Start Pages</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService.DefaultAuthorsComparator).AUTHOR_SIMILARITY_REPLY_SUFFICIENT_STARTPAGES_OR_DOIS}">
								-0.75</td>
							<td>When a Reply the titles are not compared</td>
						</tr>
						<tr>
							<td>Reply and insufficient Start Pages</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService.DefaultAuthorsComparator).AUTHOR_SIMILARITY_REPLY_INSUFFICIENT_STARTPAGES_AND_DOIS}">
								-0.80</td>
							<td>When a Reply the titles are not compared</td>
						</tr>
						<tr>
							<td rowspan="2">Journals *</td>
							<td>default (i.e. not a Reply)</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService).JOURNAL_SIMILARITY_NO_REPLY}">
								-0.90</td>
							<td></td>
						</tr>
						<tr>
							<td>Reply</td>
							<td th:text="${T(edu.dedupendnote.services.DeduplicationService).JOURNAL_SIMILARITY_REPLY}">
								-0.93</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="2">Title</td>
							<td>Sufficient Start Pages or DOIs</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService).TITLE_SIMILARITY_SUFFICIENT_STARTPAGES_OR_DOIS}">
								-0.90</td>
							<td></td>
						</tr>
						<tr>
							<td>Insufficient Start Pages and DOIs</td>
							<td
								th:text="${T(edu.dedupendnote.services.DeduplicationService).TITLE_SIMILARITY_INSUFFICIENT_STARTPAGES_AND_DOIS}">
								-0.94</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<div><i>Journals: if the JWS between Journal titles is below the threshold, two comparisons of the
						following types are tried:
						<ul>
							<li>"Ann Fr Anesth Reanim" and "Ann... Fr... Anesth... Reanim..."</li>
							<li>"BMJ" and "B... M... J..."</li>
						</ul>
					</i>
				</div>

				<p><u><strong>Why Jaro-Winkler Similarity (JWS) and not Levenshtein distance / ...?</strong></u></p>
				<ul>
					<li>JWS is always a value between 0 and 1 making it easier to choose a cut-off point for allowed
						similarity (e.g. similarity &gt; 0.91)</li>
					<li>JWS's property of putting a heavier penalty on differences at the beginning of strings proved
						very helpful in comparing Titles and Authors:
						<ul>
							<li>"..." and "... - Commentary" are more similar than if a less partial similarity measure
								was used</li>
							<li>"..." and "Case report: ..." (when compared in their reversed form) are more similar
								than if a less partial similarity measure was used</li>
							<li>some bibliographic databases list all authors, others limit them and add "et al."</li>
						</ul>
					</li>
					<li>JWS proved useful, so no other similarity measures were tested</li>
				</ul>

				<h5 id="order_of_comparisons">2.4. The order of comparisons</h5>
				<p>Records are put in year sets based on the publication year. Records without publication year are put
					in a special year set YEAR_0.</p>

				<p>When deduplicating 1 file, records are compared in descending order of pairs of year sets.
					The records in YEAR_0 are added to each of these pairs except for the ones which are already marked
					as duplicates.
					For an EndNote RIS file with records from 1889 to 2020:</p>
				<ul>
					<li>YEAR 2020 + YEAR 2019 + YEAR 0: all records of YEAR 2020 are compared to all records of YEAR
						2020 and YEAR 2019 and YEAR 0</li>
					<li>YEAR 2019 + YEAR 2018 + YEAR 0: all records of YEAR 2019 are compared to all records of YEAR
						2019 and YEAR 2018 and YEAR 0</li>
					<li>...</li>
					<li>YEAR 1889 + YEAR 0: all records of YEAR 1889 are compared to all records of YEAR 1889 and YEAR 0
					</li>
				</ul>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>Pairs of year sets:
						<ul>
							<li>Bibliographic databases sometimes don't agree on the publication year, in most cases the
								difference is only 1 year</li>
							<li>The publication year of Ahead of print publications and of their final form can be more
								than 1 year apart,
								but in the majority of cases they are at most 1 year apart.</li>
							<li>Extending to groupings of more years would take longer and could cause more false
								positives</li>
						</ul>
					</li>
					<li>Descending order: Because the first record of a set of duplicate records is saved to the output
						file,
						<ul>
							<li>when encountering an ahead of print publication of e.g. 2018 and a corresponding final
								record of 2019, the 2019 record will be saved</li>
							<li>when encountering a record without a publication year and a corresponding record with a
								publication year, the record with the publication year will be saved</li>
						</ul>
					</li>
				</ul>

				<p>When deduplicating 2 files, records of both files are compared in ascending order of pairs of year
					sets.
					The YEAR_0 is added to each of these pairs, but records which are marked as duplicates are first
					removed.<br />
					The records of the OLD file are read before the records of the NEW file;
					because the duplicate chosen in a set of duplicate records is the first one encountered, duplicate
					records from the OLD file will be chosen when present.<br>
					For an EndNote RIS file with records from 1889 to 2020:</p>
				<ul>
					<li>YEAR 0 + YEAR 1889 + YEAR 1890: all records of YEAR 0 + YEAR 1889 are compared to all records of
						YEAR 0 and YEAR 1889 and YEAR 1890</li>
					<li>YEAR 0 + YEAR 1890 + YEAR 1891: all records of YEAR 0 + YEAR 1890 are compared to all records of
						YEAR 0 and YEAR 1890 and YEAR 1891</li>
					<li>...</li>
					<li>YEAR 0 + YEAR 2020: all records of YEAR 0 + YEAR 2020 are compared to all records of YEAR 0 and
						YEAR 2020</li>
				</ul>
				<p>The output file only contains records from the NEW file which are not duplicates of records of the
					OLD file, and (if there are duplicates within the NEW file)
					are the first duplicate encountered within that duplicate set.</p>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>Ascending order:
						<ul>
							<li>when encountering an ahead of print publication of e.g. 2018 in the OLD file and a
								corresponding final record of 2018 or 2019 in the NEW file,
								the NEW record will be seen as a duplicate of the OLD record and not be saved. Saving
								that record would create a duplicate</li>
							<li>when encountering a record without a publication year in the OLD file and a
								corresponding record with a publication year in the NEW file,
								the record with the publication year will be seen as a duplicate of the OLD record and
								not be saved. Saving that record would create a duplicate</li>
						</ul>
					</li>
				</ul>

				<h5 id="effect">2.5. Effect of 'insufficient data from one of two records'</h5>

				<p>The 5th comparison (ISSN or Journal: Are they the same (ISSN) or similar (Journal)?) looks at first
					sight to only compare journal articles
					(with the additional effect that no publications of another type can ever be a duplicate). This is
					not completely true:</p>
				<ul>
					<li>ISBN is treated the same way as a ISSN</li>
					<li>The EndNote fields T2, J2, OP and T3 can also be used with other publications types</li>
				</ul>
				<p>However: the general rule treats 2 records / field sets as different if <strong>both</strong> records
					have insufficient data for that comparison.
					Two book records with the same authors, publication year and book title will be considered
					duplicates only if both have the same / a similar ISBN.</p>
				<p>Relaxing this general rule (so that comparisons with insufficient data in one or both records are
					treated the same way: UNKNOWN,
					so go on to the next comparison) would result in a lot more False Positives.</p>

				<h3 id="enriching">3. Enriching the duplicate chosen</h3>

				<p><u><strong>Justification:</strong></u></p>
				<ul>
					<li>(all cases): the enriched data are copied from existing duplicate records or occur in a lot of
						records (empty author, full pages form, omitted same ending page)</li>
					<li>Author "Anonymous": There is no reason to use 2 forms (Author "Anonymous" and no Author) for
						this case</li>
					<li>DOI - adding from other duplicates: Considered a useful addition</li>
					<li>DOI - standardized form: Considered a useful addition (clickable in EndNote)</li>
					<li>Publication year - missing added from other duplicates: Records without publication year are
						subpar</li>
					<li>Starting page and Article number:
						<ul>
							<li>Some bibliographic databases (e.g. PubMed) treat them the same way, others (e.g. Scopus,
								Web of Science) don't</li>
							<li>EndNote output formats (e.g. Vancouver style) can't handle Article numbers</li>
						</ul>
					</li>
					<li>Starting page - missing added from other duplicates: Records without starting page are subpar
					</li>
					<li>Starting page - standardized to full form:
						<ul>
							<li>EndNote deduplication treats "492-5" and "492-495" as different values</li>
							<li>EndNote output formats (e.g. Vancouver style) handle this full form gracefully (emit
								"492-5" for pages "492-495")</li>
						</ul>
					</li>
					<li>Starting page - omitting same end page:
						<ul>
							<li>Some bibliographic databases (esp. Web of Science) sometimes use this form (e.g.
								"211-211")</li>
							<li>EndNote deduplication treats "211" and "211-211" as different values</li>
							<li>EndNote output formats (e.g. Vancouver style) emit "211-" for pages "211-211"</li>
						</ul>
					</li>
					<li>Title - Reply / Erratum / Comment / Retraction: Inconsistent use of bibliographic databases. The
						longest title holds most
						information</li>
				</ul>
				<div style="padding-bottom: 35px;"></div>
			</div>
		</div>
	</div>
</body>

</html>